body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.footer-logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  color: #2e2f42;
}

.address-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #fff;
}

.team-card-content {
  padding: 32px 16px;
}

.team-name,
.team-text {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
}
